@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);

body
{
	font-family: 'Open Sans', sans-serif;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div
{
	float: left;
}

table
{
	background-color: rgba(0,0,0,0);
	margin: 10px;
	float: left;
	border: none;
	/*1px solid black*/
}

table:hover
{
	background-color: rgba(0,0,0,0.1);
}


caption
{
	margin: 3px;
}


thead>tr>td, tr>td:nth-child(1)
{
	/*font-weight: bold*/
	background-color: rgba(0,0,0,0);
}


tr 
{
	height: 2em;
	background-color: rgb(0,0,0,0);
}

td
{
	width: 5em;
	text-align: center;
	border: none;
	background-color: rgba(0,0,0,0.2);
}

td:hover
{
	opacity: 0.7;
}


table, td
{
	border-radius: 3px;
}

caption
{
	font-style: italic;
	font-size: 1.1em;
}

h2
{
	margin-top: 10px;
}


a 
{
	outline: none;
}

.timebar
{
	display: block;
	float: none;
	padding: 50px;
	text-align: center;
	color: white;
	height: 100px;
	line-height: 90px;
}

.timebar h4
{
	color: black;
	font-weight: normal;
	font-size: 1.3em;
	padding: 0;
	margin: 0;
	margin-bottom: -20px;
}

.t0, .t1, .t2
{
	float: left;
	height: 100%;
}

.t0:hover, .t1:hover, .t2:hover
{
	background-color: #D0EAF2;
	color: blue;
}

.t0
{
	background-color: #00B8F5;
}

.t1
{
	background-color: #0056F5;
}

.t2
{
	background-color: #041CBA;
}

div>.timebar
{
	margin-bottom: -80px;
}